src/main/java/de/pfnrw/jvault/client/VaultService1.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.jvault.pfnrw.de/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.jvault.pfnrw.de/" name="VaultServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://server.jvault.pfnrw.de/" schemaLocation="http://localhost:9000/VaultService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="search">
<part name="parameters" element="tns:search"></part>
</message>
<message name="searchResponse">
<part name="parameters" element="tns:searchResponse"></part>
</message>
<message name="addEntry">
<part name="parameters" element="tns:addEntry"></part>
</message>
<message name="addEntryResponse">
<part name="parameters" element="tns:addEntryResponse"></part>
</message>
<message name="IllegalBlockSizeException">
<part name="fault" element="tns:IllegalBlockSizeException"></part>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"></part>
</message>
<message name="InvalidKeyException">
<part name="fault" element="tns:InvalidKeyException"></part>
</message>
<message name="InvalidKeySpecException">
<part name="fault" element="tns:InvalidKeySpecException"></part>
</message>
<message name="NoSuchAlgorithmException">
<part name="fault" element="tns:NoSuchAlgorithmException"></part>
</message>
<message name="NoSuchPaddingException">
<part name="fault" element="tns:NoSuchPaddingException"></part>
</message>
<message name="JSONException">
<part name="fault" element="tns:JSONException"></part>
</message>
<message name="BadPaddingException">
<part name="fault" element="tns:BadPaddingException"></part>
</message>
<portType name="VaultService">
<operation name="search">
<input wsam:Action="http://server.jvault.pfnrw.de/VaultService/searchRequest" message="tns:search"></input>
<output wsam:Action="http://server.jvault.pfnrw.de/VaultService/searchResponse" message="tns:searchResponse"></output>
</operation>
<operation name="addEntry">
<input wsam:Action="http://server.jvault.pfnrw.de/VaultService/addEntryRequest" message="tns:addEntry"></input>
<output wsam:Action="http://server.jvault.pfnrw.de/VaultService/addEntryResponse" message="tns:addEntryResponse"></output>
<fault message="tns:IllegalBlockSizeException" name="IllegalBlockSizeException" wsam:Action="http://server.jvault.pfnrw.de/VaultService/addEntry/Fault/IllegalBlockSizeException"></fault>
<fault message="tns:IOException" name="IOException" wsam:Action="http://server.jvault.pfnrw.de/VaultService/addEntry/Fault/IOException"></fault>
<fault message="tns:InvalidKeyException" name="InvalidKeyException" wsam:Action="http://server.jvault.pfnrw.de/VaultService/addEntry/Fault/InvalidKeyException"></fault>
<fault message="tns:InvalidKeySpecException" name="InvalidKeySpecException" wsam:Action="http://server.jvault.pfnrw.de/VaultService/addEntry/Fault/InvalidKeySpecException"></fault>
<fault message="tns:NoSuchAlgorithmException" name="NoSuchAlgorithmException" wsam:Action="http://server.jvault.pfnrw.de/VaultService/addEntry/Fault/NoSuchAlgorithmException"></fault>
<fault message="tns:NoSuchPaddingException" name="NoSuchPaddingException" wsam:Action="http://server.jvault.pfnrw.de/VaultService/addEntry/Fault/NoSuchPaddingException"></fault>
<fault message="tns:JSONException" name="JSONException" wsam:Action="http://server.jvault.pfnrw.de/VaultService/addEntry/Fault/JSONException"></fault>
<fault message="tns:BadPaddingException" name="BadPaddingException" wsam:Action="http://server.jvault.pfnrw.de/VaultService/addEntry/Fault/BadPaddingException"></fault>
</operation>
</portType>
<binding name="VaultServicePortBinding" type="tns:VaultService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="search">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="addEntry">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="IllegalBlockSizeException">
<soap:fault name="IllegalBlockSizeException" use="literal"></soap:fault>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"></soap:fault>
</fault>
<fault name="InvalidKeyException">
<soap:fault name="InvalidKeyException" use="literal"></soap:fault>
</fault>
<fault name="InvalidKeySpecException">
<soap:fault name="InvalidKeySpecException" use="literal"></soap:fault>
</fault>
<fault name="NoSuchAlgorithmException">
<soap:fault name="NoSuchAlgorithmException" use="literal"></soap:fault>
</fault>
<fault name="NoSuchPaddingException">
<soap:fault name="NoSuchPaddingException" use="literal"></soap:fault>
</fault>
<fault name="JSONException">
<soap:fault name="JSONException" use="literal"></soap:fault>
</fault>
<fault name="BadPaddingException">
<soap:fault name="BadPaddingException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="VaultServiceService">
<port name="VaultServicePort" binding="tns:VaultServicePortBinding">
<soap:address location="http://localhost:9000/VaultService"></soap:address>
</port>
</service>
</definitions>